<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>21120177-BTCN03</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
     <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
     <script src="https://kit.fontawesome.com/f14e332891.js" crossorigin="anonymous"></script>
</head>
<body>
  <div id="header">
    <p class="id-student-info">21120177</p>
    <h3 class="header-title">Movies Infomation</h3>
    <div class="form-check form-switch switch-button">
        <input class="form-check-input darkmode-btn" type="checkbox" role="switch" id="flexSwitchCheckChecked">
        <label class="form-check-label darkmode-icon" for="flexSwitchCheckChecked"><i class="fa-duotone fa-sun-bright"></i></label>
    </div>
</div>

<h1>ZERO 21177{ zero }</h1>



<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/"><i class="fa-solid fa-house my-home-icon"></i></a>
        </li>
      </ul>
      <h5 class="individual-info">21177</h5>
      <form class="d-flex" role="search" method="GET" action="/detailmovie/">
        <input id="my-search-input" class="form-control me-2" type="search" name="search_value" placeholder="Search" aria-label="Search">
        <button id="my-search-button" class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<div id="topMoviesIndicator" class="carousel slide">
  <h5>Top Rating Movies</h5>

  <div class="carousel-indicators">
    21177{for mv in results}
      21177{if mv.tempvalue}
            <button type="button"  data-bs-target="#topMoviesIndicator" data-bs-slide-to="21177{ mv.show_id}" key="21177{ mv.show_id}" class="active"></button>
      {else}
      <button type="button" data-bs-target="#topMoviesIndicator" data-bs-slide-to="21177{ mv.show_id}" key="21177{ mv.show_id}"></button>
      {/if}
    {/for}
  </div>
 <div class="carousel-inner">

  21177{for mv in results}
    
    21177{if mv.tempvalue}

        <div class="carousel-item top-rating-item active" key="21177{ mv.show_id }">
          <img class="d-block top-movies-img" src="21177{ mv.image }" alt="movie-poster">
        </div> 
        {else}
        <div class="carousel-item top-rating-item"  key="21177{ mv.show_id }">
          <img class="d-block top-movies-img" src="21177{ mv.image }"  alt="movie-poster">
        </div> 
        {/if}
  
  {/for}


  
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#topMoviesIndicator" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#topMoviesIndicator" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="footer">Copyright @ LeMinhHuy</div>


    <script src="/js/header.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>