<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>21120177-BTCN03</title>
</head>
<body>
  <div id="header">
    <p class="id-student-info">21120177</p>
    <h3>Movies info</h3>
    <p class="api-info">21177</p>
    <div class="form-check form-switch switch-button">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"  @change="toggleDarkMode">
    <label class="form-check-label" for="flexSwitchCheckChecked">Dark mode</label>
    </div>
    </div>
</body>
</html>